.app {
  font-size: 30px;
  margin: 50px;
}

.app input {
  font-size: 30px;
  margin: 10px;
}


.app button {
  font-size: 30px;
  margin: 10px;
}

.fileIcon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  padding-right: 10px;
}

.fileName {
  display: inline-block;
  vertical-align: middle;
}